* {
 font-size: 100%;
 font-family:  system-ui;
    color: white;
    text-align: center;

}


 #navbar ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    background-color: #333;
    }

#navbar ul li {
    display: inline;
    }

#navbar ul li a {
    text-decoration: none;
    padding: .1em 1em;
    color: #fff;
    background-color: #333;
    }

#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
    }


textarea {


    background-color: black;
    position:fixed;
    width: 50%;
                height:1000px;
                resize: none;
    text-align: left;
    font-size: 1em;
 font-weight: bold;


  border: 0px solid #888;
}




.button {

}

button:hover {
    background-color: black; /* Green */
    color: white;
}


button {  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.2s;

    background-color: white;
    border: 10px;
    color: black;
    padding: 10px 24px;
   border-style: single;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
}


container {
    background-color: darkslategray;
    color: darkslategrey;


}
