@@ -1,
101 + 0,
0 @@ #video {

    visibility: hidden;
    position: static;


}

#canvas {
    position: relative;
    margin: 0 auto;
    z-index: 100;


}

#result {

    font-size: 18pt;






}

body {
    background: #000;
    color: white;
    font-family: menlo, monospace;
}

p {
    margin-bottom: 1rem;
}

.\ + blink {
    animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}

button {

    background: #000;
    color: white;
    font-family: menlo, monospace;
    border: 0px;
    font-size: inherit;

}

.blink {

    animation-name: blink;
    animation: blink 1s infinite;
}

/* Animation */

.anim-typewriter {
    animation: typewriter 10s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }
    to {
        border-right-color: transparent;
    }
}
