* {
 font-size: 100%;
 font-family:  system-ui;
    color: white;
    text-align: center;

}

 #navbar ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    text-align: center;
    background-color: #333;
    }

#navbar ul li {
    display: inline;
    }

#navbar ul li a {
    text-decoration: none;
    padding: .1em 1em;
    color: #fff;
    background-color: #333;
    }

#navbar ul li a:hover {
    color: #000;
    background-color: #fff;
    }
